# Herve RISC-V ISS default configuration

# SOC
CONFIG_SOC_RISCV32_P=y
CONFIG_RISCV_MACHINE_TIMER=y

# Memory
CONFIG_RAM_START_ADDR=0x00000000
CONFIG_RAM_SIZE=0x1000000
CONFIG_ROM_START_ADDR=0x00000000
CONFIG_ROM_SIZE=0

# HTIF console
CONFIG_RISCV_SOC_INTERFACE_INLINE=y
CONFIG_CONSOLE=y
CONFIG_SERIAL=y
CONFIG_UART_CONSOLE=n
CONFIG_RISCV_HTIF=y

# General
CONFIG_PRINTK=y
CONFIG_SCHED_CPU_MASK_PINNING=n

# Reduce image size
CONFIG_MINIMAL_LIBC=y
CONFIG_SCHED_DEADLINE=n
CONFIG_TIMESLICING=n

# Testing
CONFIG_TEST=y
